@font-face {
    font-family: 'CMU';
    src:url('cmu.serif-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.spacer{
height: 40vh;
background-color: transparent;
}
* {
    box-sizing: border-box;
    max-width: 100%;
    scroll-behavior:auto;
  }
html{
    scroll-behavior:auto;
    overflow-x: hidden;
  }


body {
    font-family: 'CMU', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-align: justify;
   background: white;
   position: absolute;
   /*linear-gradient(to bottom, white, lightgrey);*/
}
.headShot{opacity:0;animation: fadeScaleIn 1s ease-in-out 0.5s forwards;}
@keyframes fadeScaleIn {
  from {transform:scale(0);opacity: 0;}
  to {transform:scale(1);opacity:1;}
}

@media (orientation: portrait) {
  body{
    font-size:xxx-large;
  }
  .headShot{
    width: 50vw;

  }
  footer{font-size:large;}
  .welcome-container{font-size:x-large;}
}

@media (orientation: landscape) {
  body{
    font-size:x-large;
  }
  .headShot{
    width: 25vw;
  }
}

header {
    z-index: 5;
    background:scroll;
    background-color:white;
    color: #000;
    left: 0;
    position: absolute;
    height:140vh;
    top: 0vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    text-align: center;
    opacity:0; 
    animation: slideUpHeader 1s ease-in-out 0.5s forwards;
}
@keyframes slideUpHeader {
    from {top: 0vh;opacity:0}
    to {top: -40vh;opacity:1}
}

.headerContainer{height:100%;width:100vw;background-color:NA;z-index:10;}

.welcome-container{max-width:100vw;display: flex; flex-direction: column;
  justify-content: center; align-items: center; z-index: 100;}
.welcome-text{opacity:0;
  animation: glow25 8s infinite ease-in-out;}

  @keyframes glow25{
  0% {opacity: 0.25;}
  50%  {opacity: 1;}
  100%   {opacity: 0.25;}
}
@keyframes glow75{
  0% {opacity: 0.75;}
  50%  {opacity: 1;}
  100%   {opacity: 0.75;}
}

.arrow-container{display: flex; flex-direction: column;
  justify-content: center; align-items: center; z-index: 100;
  opacity: 0;
  animation: floatGlow 2.5s infinite ease-in-out 2s;}

  @keyframes floatGlow {
  0% {transform: translate(0,  0%);opacity: 0.25;}
  50%  {transform: translate(0, 25%);opacity: 1;}
  100%   {transform: translate(0, -0%);opacity: 0.25;}
}


footer {
  padding: 0%;  
  background: linear-gradient(45deg,
    #121212,
    #000000,
    #000000,
    #212121);
  height: 10vh;
  bottom: -200vh; /* Center the header horizontally at 50% from the left */
  width:100%;
  z-index: 9;
  animation: slideDownFooter 1s ease-in-out 0.5s forwards; 
  margin: 0%;
  position:relative;
  opacity:0;
}

@keyframes slideDownFooter {
    from {bottom: 20vh;position:relative;opacity:0;}
    to {bottom: 0vh;position:fixed;opacity:1}
}

.link{
  background-color: black;color:antiquewhite;
  }
  .linkz{
    background-color:black; color:white;text-decoration: none;
    }
/* Set initial state for all sections */
.linkz:hover{background-color: black;color:antiquewhite;text-decoration:underline;
}
.scrollContainer{
  display: flex; flex-direction: column;
  background-color: rgba(255,255,255,0); 
  overflow: visible;
  width:100vw;
}



.textScaleIn{
  padding-left: 1vw;padding-right: 1vw;
  position: relative;  
  background-color: rgba(255,255,255,0.9); 
  color:#000;
  overflow: visible;
  text-align: right;   
  z-index: 5;
  top:50vh;
  width:25vw;
  left:0vw;
  display: flex; align-items:center; justify-content:center;
  transform:scale(0.25);
  opacity: 0.5;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.textScaleIn.animate {
  transform:scale(1); opacity:1;
}

.imageScaleIn {
  z-index: 3;
  width:75vw;left:25vw;top:-5vh;
  display: flex;
  background-color: transparent;
  align-items: center; 
  justify-content: center; text-align: center;
  transform:scale(1);
  overflow: visible;
  opacity: 0;
  position: relative;
  will-change: position,transform,opacity;
  transition: 
    transform 1s ease-in-out 0.5s, 
    opacity 1s ease-in-out 0.5s,
    position 1s ease-in-out 0.5s,
}

.imageScaleIn img{width: 100vw;height:auto;}

.imageScaleIn.animate {
  animation: scaleInFadeOnce 3s ease-in-out 0.5s forwards;
}

@keyframes scaleInFadeOnce {
  0% {
    transform: scale(0.25);
    opacity: 0;
    position:fixed;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  67% { /* Adjust these percentages based on how long you want each phase of the fade effect to last */
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    position:fixed;

  }
}

@media (orientation: portrait) {
  .imageScaleIn{transform:scale(2.1); left:0vw; top:25vh;  }
  .imageScaleIn.animate {
    animation: scaleInFadeOncePort 3s ease-in-out 0.5s forwards;
  }
  
  @keyframes scaleInFadeOncePort {
    0% {
      transform: scale(0.25);
      opacity: 0;
      position:fixed;
    }
    33% {
      transform: scale(2.1);
      opacity: 1;
    }
    67% { /* Adjust these percentages based on how long you want each phase of the fade effect to last */
      opacity: 0.75;
    }
    100% {
      opacity: 1;
      position:fixed;
  
    }
  }
}

.imageFadeIn {
  overflow: visible;
  z-index: 3;
  width:75vw;left:25vw;  top: -5vh;
  display: flex;
  position: relative;  
  opacity: 0;
  background-color: transparent;
  align-items: center; 
  justify-content: center; text-align: center;
  will-change: position, opacity;
  transition: 
    position 1s ease-in-out 0.5s, 
    opacity 1s ease-in-out 0.5s;

}
.imageFadeIn.animate {
  animation: fadeInGlowOnce 3s ease-in-out 2s forwards;
}
@media (orientation: portrait) {
  .imageFadeIn{transform:scale(2.1); left:0vw; top:25vh;  }
  .imageFadeIn.animate {
    animation: fadeInGlowOnce 1.5s ease-in-out 2s forwards;
  }
}
  @keyframes fadeInGlowOnce {
    0% {
      opacity: 0;
      position:fixed;
    }
    50% {
      opacity: 0.9;
    }
    25%,100% {
      opacity: 1;
      position:fixed;
    }
  }
